<a href="https://colab.research.google.com/github/tanaymukherjee/Useful-Python-libraries-for-Data-Science/blob/master/Useful_Python_libraries_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Useful Python libraries for Data Science

In [1]:
# Import basic libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Mounting google colab with personal GDrive

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
# Checking the content in my GDrive witihin the working directory

!ls -ahl "/content/gdrive/My Drive/Colab Notebooks/Data"

total 34M
-rw------- 1 root root 128K Jul 31 02:48 baby1.png
-rw------- 1 root root 902K Jul 21 07:43 clean-support-call.wav
-rw------- 1 root root 3.5K Aug  7 01:04 Delivery_Volume.csv
-rw------- 1 root root  30M Jul 18 04:35 fake_or_real_news.csv
-rw------- 1 root root 3.2K Aug 30 21:53 gender_submission.csv
-rw------- 1 root root 653K Jul 21 07:28 good-afternoon.wav
-rw------- 1 root root 489K Jul 21 06:33 good-morning.wav
-rw------- 1 root root 549K Jul 31 03:41 haarcascade_frontalface_alt2.xml.txt
-rw------- 1 root root 291K May 31 02:02 Index2018.csv
-rw------- 1 root root 164K May 31 02:02 RandWalk.csv
-rw------- 1 root root 492K Jun 16 22:51 spam.csv
-rw------- 1 root root  28K Aug 30 21:53 test.csv
-rw------- 1 root root  60K Aug 30 21:53 train.csv
-rw------- 1 root root 1.1M Jun 16 03:45 tweets.csv

## 1. dabl(Data Analysis Baseline Library)

In [4]:
# Installing and loading the library
!pip install dabl

import dabl

Collecting dabl
  Downloading https://files.pythonhosted.org/packages/7d/9b/0cc2a5da8735e584af715829268ea37edf0dba4f9870c2ee0c376d0de290/dabl-0.1.8.tar.gz (559kB)
     |████████████████████████████████| 563kB 3.5MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from dabl) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from dabl) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from dabl) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from dabl) (1.0.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from dabl) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from dabl) (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->dabl) (0.16.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->dabl) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->dabl) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->dabl) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->dabl) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->dabl) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->dabl) (1.15.0)
Building wheels for collected packages: dabl
  Building wheel for dabl (setup.py) ... done
  Created wheel for dabl: filename=dabl-0.1.8-cp36-none-any.whl size=565077 sha256=471d96f3b0841645659fac3b6a249b5e51093ec701cdfeab0d489ab96bb23e08
  Stored in directory: /root/.cache/pip/wheels/99/8c/79/9d33959b9b8676bf88a2e792075a2a17eda6b1711dc0fedca3
Successfully built dabl
Installing collected packages: dabl
Successfully installed dabl-0.1.8

### 1.1 Automated Preprocessing with dabl

As part of the preprocessing, dabl will attempt to identify missing values, feature types and erroneous data. if the detection of semantic types (continuous, categorical, ordinal, text, etc) fails, the user can provide type_hints. Let's demo the library with the help of the titanic dataset.

In [5]:
titanic_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Data/train.csv')

In [6]:
# A first look at data
titanic_df.shape

(891, 12)

In [7]:
titanic_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [8]:
titanic_df_clean = dabl.clean(titanic_df, verbose=1)

Detected feature types:
2 float, 5 int, 5 object, 0 date, 0 other
Interpreted as:
continuous      2
dirty_float     0
low_card_int    2
categorical     4
date            0
free_string     3
useless         1
dtype: int64

In [9]:
types = dabl.detect_types(titanic_df_clean)
print(types)

          continuous  dirty_float  low_card_int  ...   date  free_string  useless
Survived       False        False         False  ...  False        False    False
Pclass         False        False         False  ...  False        False    False
Name           False        False         False  ...  False         True    False
Sex            False        False         False  ...  False        False    False
Age             True        False         False  ...  False        False    False
SibSp          False        False          True  ...  False        False    False
Parch          False        False          True  ...  False        False    False
Ticket         False        False         False  ...  False         True    False
Fare            True        False         False  ...  False        False    False
Cabin          False        False         False  ...  False         True    False
Embarked       False        False         False  ...  False        False    False

[11 rows x 7 columns]

### 1.2 Exploratory Data analysis with dabl

dabl provides a high-level interface that summarizes several common high-level plots. For low dimensional datasets, all features are shown; for high dimensional datasets, only the most informative features for the given task are shown